@-webkit-keyframes falling {
  /* line 4, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px);
    opacity: 0;
  }
}

@-moz-keyframes falling {
  /* line 11, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px);
    opacity: 0;
  }
}

@-ms-keyframes falling {
  /* line 18, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px);
    opacity: 0;
  }
}

@keyframes falling {
  /* line 25, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px);
    opacity: 0;
  }
}

@-webkit-keyframes arotateX {
  /* line 32, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-moz-keyframes arotateX {
  /* line 38, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-ms-keyframes arotateX {
  /* line 44, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes arotateX {
  /* line 50, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes arotateY {
  /* line 56, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes arotateY {
  /* line 62, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes arotateY {
  /* line 68, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes arotateY {
  /* line 74, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes arotateZ {
  /* line 80, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes arotateZ {
  /* line 86, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes arotateZ {
  /* line 92, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes arotateZ {
  /* line 98, ../sass/mixin/animations.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* line 4, ../sass/screen-game-over.scss */
.game-over {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  white-space: nowrap;
  -webkit-transform: translateY(5200px);
  -moz-transform: translateY(5200px);
  -ms-transform: translateY(5200px);
  -o-transform: translateY(5200px);
  transform: translateY(5200px);
}
/* line 14, ../sass/screen-game-over.scss */
.game-over h2 {
  padding-top: 64px;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
}
/* line 20, ../sass/screen-game-over.scss */
.game-over p {
  white-space: normal;
  font-size: 24px;
  line-height: 32px;
}
/* line 25, ../sass/screen-game-over.scss */
.game-over nav {
  padding: 40px 0 0;
}
/* line 27, ../sass/screen-game-over.scss */
.game-over nav a {
  font-size: 16px;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  margin: 0 0 24px;
  background-color: #e0e0e0;
  color: #444;
  padding: 0 10px;
  position: relative;
  z-index: 1000;
}
/* line 39, ../sass/screen-game-over.scss */
.game-over nav a.focused, .game-over nav a:hover {
  background-color: #333;
  color: #FFF;
}
/* line 42, ../sass/screen-game-over.scss */
.game-over nav a.focused:after, .game-over nav a:hover:after {
  border-color: #333 transparent transparent;
}
/* line 46, ../sass/screen-game-over.scss */
.game-over nav a:after {
  content: ".";
  height: 0;
  width: 0;
  overflow: hidden;
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  border-color: #e0e0e0 transparent transparent;
  border-style: solid;
  border-width: 15px 0 0 15px;
  position: absolute;
  right: 15px;
  top: 100%;
  z-index: -1;
}
/* line 63, ../sass/screen-game-over.scss */
.game-over nav .again {
  float: left;
}
/* line 66, ../sass/screen-game-over.scss */
.game-over nav .menu {
  float: right;
}
